html {
  font-size: 20px;
}

body {
  font-family: "Alial", "Meiryo", sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 5px 5px rgba(236, 13, 50, 0.5);
  text-align: center;
border-bottom: 3px solid rgb(115, 115, 114);
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
.cr-blue{
  color: skyblue;
}
.cr-pink{
  color: rgb(255, 192, 203);
}
.basic p{
  font-weight: bold;
}